/* Elimina márgenes del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor del fondo */
.background {
    width: 100%;
    min-height: 100vh;

    background-image: url("images/LANDING_AMADOSTUDIO"); /* <-- ruta de tu imagen */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain; /* mantiene la proporción y ajusta al ancho */
}

/* Asegura que se vea toda la imagen haciendo scroll */
body, html {
    height: auto;
}

  padding: 0 20px;
}
