@charset "utf-8";

 body {
   background-image: url('images/LANDING_AMADOSTUDIO');
   background-size: cover;
   background-position:center top; 
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
 }

